@font-face
{
	font-family: 'chunk';
	src: url('ChunkFive/Chunkfive.otf');

	font-family: 'goodDog';
	src: 	url('GoodDog/GoodDog-webfont.eot') format('eot'),
			url('GoodDog/GoodDog-webfont.woff') format('woff'),
			url('GoodDog/GoodDog-webfont.ttf') format('truetype'),
			url('GoodDog/GoodDog-webfont.svg') format('svg');
}

header
{
	background-color: black;
	background-image: url("wallpaper_IM.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: -150px 0px;
	color: white;
}

.firstTitle, .fin
{
	color: rgb(112,112,112);
}

h1
{
	color: rgb(112,112,112);
	font-size: 3.5em;
	text-decoration: underline;
}

h2
{
	color: rgb(112,112,112);
	font-size: 2.5em;
	text-decoration: line-through;
}

h3
{
	color: rgb(112,112,112);
	font-size: 2em;
}

p
{
	font-family: Georgia, "Arial Black", serif;
	text-align: justify;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'goodDog', "Comic Sans Ms", "Arial Black", serif;
	font-weight: normal;
}

mark
{
	font-style: italic;
}

.defBigData
{
	border-radius: 20px / 10px;
	background-color: white;
	color: black;
	box-shadow: 6px 6px 6px black inset;
}

.bFlotant
{
	float: left;
}

/* attribut class de la balise*/
.bienvenue
{
	font-size: 16px;
	color: red;
}

/* Selectionne toutes les balises em dans les p */
p em
{
font-size: small;
	color: yellow;
}

a:hover
{
	color: red;
}

a:active
{
	font-style: italic
}

a
{
	color: rgb(41,153,156);
}

.tnImage
{
	border-radius: 8px;
	border: groove;
}

/* Selectionne la première em dans p */
p + em
{
	color: brown;
}

/* selectionne le logo (avec l'attribut id)*/
#logo
{
	border-radius: 10px;
}


/* selecteur universel*/
* 
{
}

/* selectionne tous les liens a qui possèdent un attribut title */
a[title]
{
}

/* selectionne tous les liens a qui possèdent un attribut title="cliquez ici" */
a[title="cliquez ici"]
{
}

/* selectionne tous les liens <a> qui possèdent un attribut title avec au moins le mot "ici" pour valeur*/
a[title*="ici"]
{
}